<html>
    
    <head>
        
        <title>real time chat</title>
        
        <script src="/chat.js"></script>
                <script src="/socket.io/socket.io.js"></script>

        
    </head>
    
    
    <body >
        <div id="content"   style="width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;">
        <div class="controls" >
        
         
        <input type="text" class="field" style='width:350px;' />
        <input type="submit" class="send"  value="send" />
        
        </div>
        </div>
    </body>
</html>